page-detail {
    ul {
        padding: 0px;
        &.rating li {
            padding: 0px !important;
            background: none;
            color: color($colors,primary);

        ion-icon {
            font-size: 30px;
            }
        }   
    }

    .blackColorButton{
        color: #000;
        background: transparent;
        border: none;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    
}
