page-detail {
    .blackColorButton{
        color: #000;
        background: transparent;
        border: none;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
    }

    
}
