page-profile {

}



.avatarBackdrop {
    background-color: color($colors, primary);
    padding-top: 28px;
    padding-bottom: 24px;
    img {
        border-radius: 50%;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    p {
        text-align: center;
        font-weight: bold;
    }
}

.fieldIcon {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
}