<ion-header>
  <ion-toolbar color="primary">
    <!--<ion-title>Flat</ion-title>-->
    <ion-segment [(ngModel)]="choice">
      <ion-segment-button value="homes">
        Homes
      </ion-segment-button>
      <ion-segment-button value="favourites">
        Favourites
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="background"> 
  <div [ngSwitch]="choice">
    <ion-list *ngSwitchCase="'homes'" ngSelected="selected">
        <ion-item *ngFor="let flat of flatList| async" (click)='goToHomeDetail(flat)'>
          <ion-thumbnail item-start>
            <img src="{{flat.photoUrl}}">
          </ion-thumbnail>
          <h2>{{flat.location}}</h2>
          <p>$ {{flat.price}}</p>
          <span>Need of People : {{flat.peopleSize}}</span>
          <button ion-button clear item-end>View</button>
        </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'favourites'">
        <ion-item *ngFor="let favourite of favouriteList| async" (click)='goToFavouritesDetail(favourite)'>
          <ion-thumbnail item-start>
            <img src="{{favourite.photoUrl}}">
          </ion-thumbnail>
          <h2>{{favourite.location}}</h2>
          <p>$ {{favourite.price}}</p>
          <span>Need of People : {{favourite.peopleSize}}</span>
          <button ion-button clear item-end>View</button>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
