page-signin {
    ion-content{
        background: #FBC02D !important;
    }
    img {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .signinTitle {
        padding-top: 5rem;
        text-align: center;
        color: color($colors,dark);
    }
    .googleLogin{
        height: 8vh;
        font-size: 2rem;
    }
}
