page-signin {
    ion-content{
        background: color($colors,primary) !important;
    }

    .signinTitle {
        padding-top: 5rem;
        text-align: center;
        color: color($colors,dark);
    }
    .googleLogin{
        height: 8vh;
        font-size: 2rem;
    }
}
